@import "assets/fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px 0 40px;
}

.forms {
    height: 654px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding: 67px 0 73px 0;
}

.forms__title {
    color: #f0d8d9;
    font-family: "LatoBlack";
    font-size: 30px;
    font-weight: 400;
    line-height: 17.86px;
}

.forms__subtitle {
    margin-top: 29px;
    text-align: left;
    color: #f0d8d9;
    font-family: "Lato";
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
}

.forms__input_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.forms__input_wrapper form {
    width: 619px;
    height: 364px;
}

.forms__input_wrapper form input {
    width:619px;
    height: 38px;
    background-color:#d6564f;
    color: #f0d8d9;
    border: none;
    border-radius: 5px;
    margin-bottom: 16px;
    -moz-padding-start:15px;
}


.forms__input_wrapper form input::placeholder {
    text-indent: 15px;
    color: #f48c8f;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
}

.forms__input_wrapper form input::-webkit-input-placeholder {
    text-indent: 15px;
    color: #f48c8f;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
}


.forms__input_wrapper form textarea {
    width: 619px;
    height: 202px;
    padding: 8px 0 0 15px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    margin-bottom: 16px;

}

.forms__input_wrapper form textarea::placeholder {
    color: #f48c8f;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.forms__input_wrapper form button {
    width: 80px;
    height: 34px;
    margin-left: 80%;
    background-color: #d6564f;
    color: #f48c8f;
    font-family: "LatoBlack";
    font-size: 14px;
    line-height: 17.86px;
    border: none;
    border-radius:5px;
    box-shadow: 1px -1px 2px #f48c8f;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

.forms__input_wrapper form button:hover {
    border: 2px solid white;
    transform: scale(1.2,1.2);
}

.forms__contacts_wrapper {
    width: 301px;
    height: 194px;
    margin-left: 22px;
}

.forms__contacts_title {
    margin-bottom: 12px;
    color: #f0d8d9;
    font-family: "LatoBlack";
    font-size: 18px;
    font-weight: 400;
    line-height: 17.86px;
}

.forms__contacts_subtitle {
    margin-bottom: 24px;
    color: #f0d8d9;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    text-align: left;
}

.forms__contacts_wrapper_line {
    margin-bottom: 0px;
    font-style: normal;
    color: #f0d8d9;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.forms__contacts_wrapper_line a, .forms__contacts_wrapper_line address {
    font-style: normal;
    text-decoration: none;
    color: #f0d8d9;
}

footer {
position: relative;
height: 76px;
background-color: #2d303a;
}

footer .copy {
    position: absolute;
    left:42px;
    top: 25px;
}

footer .social__media {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 152px;
    height: 32px;
    left: 82.5%;
    top: 17px;
}

footer .social__media a {
    position: relative;
    width: 32px;
    height: 32px;
    border: 1px solid #666d89;
    border-radius:50%;
    transition: ease-in-out 0.2s;
}

footer .social__media a img {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

footer .social__media a:hover {
    transform: scale(1.2,1.2);
    border-color: #caceda;
}
